.stats__wrapper {
  width: 780px;
  height: 50px;
  line-height: 50px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 0 10px;
  margin-bottom: 10px;

  outline: none;
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats__highlight {
  color: hsl(198, 99%, 37%);
}

.stats__cpm,
.stats__errRatio {
  margin-right: 20px;
}

.stats__lang {
  margin-left: 20px;
}

.stats__left,
.stats__right {
  display: flex;
  flex-direction: row;
}
